DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/scoutlink_tt?schema=public"
AUTH_SECRET="generate-a-random-secret-at-least-32-chars"

# Base URL de la aplicación (sin barra al final)
NEXT_PUBLIC_BASE_URL=http://localhost:3000


RESEND_API_KEY=api-key-resend-account
RESEND_FROM_EMAIL=name-api-key <onboarding@resend.dev>